@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    height: 10vh;
    background: pink;
    display: grid;
    place-items: center;
    color: cornflowerblue;
}

main{
    position: relative;
    height: 90vh;
}

h2 {
    text-align: center;
    padding-top: 1rem;
}

canvas {
    position: absolute;
    bottom: 0;

}
