* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    padding: 2rem;
    background-color: cornflowerblue;
    border: dotted 1rem gold;
    margin:1rem;
    margin-right: 0;
}

.boxing {
    border: double black 1rem;
    box-shadow: 0 0 12px 6px black;
    background-size: cover;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    transition: ease-in-out 1s all;
}

img {
    width: 100%;
    
}



::-webkit-scrollbar {
    visibility: hidden; 
}

#wdp {
    position: fixed;
    top: 50%;
}

#wdp:hover {
    transform: scale(110%);
    cursor: pointer;
}