* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
}

#pic {
    width: 30vw;
    height: 30vw;
    border: 1rem black solid;
    background-image: url("./assets/en.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}